module "testaaa" {
  # aws_instance_CRqhu_instance_type = "t2.small"
  # aws_instance_KCjIP_instance_type = "t2.micro"
  # aws_instance_ORvWO_instance_type = "t3.small"
  # aws_instance_QhzxK_instance_type = "t2.small"
  # aws_instance_TOfhU_instance_type = "t3.small"
  # aws_instance_adyUu_instance_type = "c5.2xlarge"
  # aws_instance_cFVEV_instance_type = "t2.medium"
  # aws_instance_enLkN_instance_type = "m3.medium"
  # aws_instance_lewbw_instance_type = "t3.medium"
  # aws_instance_mIttd_instance_type = "c5.2xlarge"
  # aws_instance_nfCuL_instance_type = "c5.2xlarge"
  # aws_instance_qaXNd_instance_type = "t3.small"
  # aws_instance_rmGXo_instance_type = "c5.2xlarge"
  # aws_instance_wsFEJ_instance_type = "t3.small"
  # aws_instance_xVkLI_instance_type = "t3.small"
  source = "module-testaaa"
}

