module "instance" {
  # aws_instance_QpUVi_instance_type = "c5.2xlarge"
  # aws_instance_UxVJk_instance_type = "t2.small"
  # aws_instance_bPTCo_instance_type = "c5.2xlarge"
  # aws_instance_euuFu_instance_type = "t3.medium"
  # aws_instance_faydk_instance_type = "t2.medium"
  # aws_instance_iihzG_instance_type = "t3.small"
  # aws_instance_kzdeP_instance_type = "c5.2xlarge"
  # aws_instance_lHhWE_instance_type = "t3.small"
  # aws_instance_mfaBC_instance_type = "t3.small"
  # aws_instance_rHQBH_instance_type = "c5.2xlarge"
  # aws_instance_sESbj_instance_type = "t2.small"
  # aws_instance_sFVAU_instance_type = "t2.micro"
  # aws_instance_uYDGF_instance_type = "t3.small"
  # aws_instance_yExDG_instance_type = "t3.small"
  # aws_instance_yuJBv_instance_type = "m3.medium"
  source = "module-instance"
}

