module "testrs" {
  azurerm_resource_group__subscriptions_edce4685_4988_4a09_8b4a_3d5b917022cd_resourcegroups_cycloid_demo_name = "cycloid-demo"
  source                                                                                                      = "./module-testrs"
}

