module "stackonly6" {
  # aws_autoscaling_group_cycloid_demo_workers_workersgroup_7y8gii4fwrr4_min_size                           = 0
  # aws_autoscaling_group_cycloid_lab_workers_workersgroup_ddz9gugzjj8p_min_size                            = 0
  # aws_autoscaling_group_cycloid_workers_saas_workersgroup_1lw1f7keqyis1_min_size                          = 0
  # aws_autoscaling_group_cycloidio_website_front_prod_frontsprod_1jpc2znehafpf_min_size                    = 2
  # aws_autoscaling_group_cycloidio_website_front_staging_frontsstaging_usc7qju0m25n_min_size               = 0
  # aws_autoscaling_group_demo_demo_preprod_demo_demo_preprod_lc_version20171027103536517600000001_min_size = 0
  # aws_autoscaling_group_external_worker_worker_prod_externalworkersprod_d6v1hqadkm9r_min_size             = 0
  # aws_autoscaling_group_workers_worker_prod_externalworkersprod_1qkjeewy2z6jw_min_size                    = 0
  # aws_instance_cycloid_bastion0_eu_we1_infra_availability_zone                                            = "eu-west-1a"
  # aws_instance_cycloid_demo_workers_prod_availability_zone                                                = "eu-west-1b"
  # aws_instance_cycloid_monitoring0_eu_we1_infra_availability_zone                                         = "eu-west-1a"
  # aws_instance_cycloidio_website_front_prod_availability_zone                                             = "eu-west-1a"
  # aws_instance_discoursereinventingorganizations_availability_zone                                        = "eu-west-1b"
  # aws_instance_eacmm_availability_zone                                                                    = "eu-west-1c"
  # aws_instance_external_worker_worker_eu_we1_prod_availability_zone                                       = "eu-west-1a"
  # aws_instance_jcxyj_availability_zone                                                                    = "eu-west-1b"
  # aws_instance_magento_front0_eu_we1_demo_availability_zone                                               = "eu-west-1a"
  # aws_instance_monitoring_prometheus_eu_we1_infra_availability_zone                                       = "eu-west-1a"
  # aws_instance_oeuok_availability_zone                                                                    = "eu-west-1b"
  # aws_instance_onprem2_olivier_cy_instances_0_onprem_availability_zone                                    = "eu-west-1a"
  # aws_instance_onprem_florian_cy_instances_0_infra_import_availability_zone                               = "eu-west-1a"
  # aws_instance_onprem_florian_cy_instances_1_infra_import_availability_zone                               = "eu-west-1b"
  # aws_instance_reinventingorganizationswiki_availability_zone                                             = "eu-west-1b"
  # aws_instance_tkrvi_availability_zone                                                                    = "eu-west-1b"
  source = "./module-stackonly6"
}

provider "aws" {
  region = var.region
}


terraform {
  required_providers {
    aws = {
      source = "hashicorp/aws"
    }

  }

  required_version = ">= 1.0"
}

variable "region" {
  default = "eu-west-1"
}

